align-cases = true
align-constructors-decl = true
break-cases = all
break-infix = fit-or-vertical
break-separators = before
cases-exp-indent = 2
doc-comments = after-when-possible
dock-collection-brackets = false
exp-grouping  = preserve
exp-grouping = preserve
field-space = loose
if-then-else = k-r
let-and = sparse
single-case = sparse
type-decl = sparse
wrap-fun-args = false
